*{
    margin: 0%;
    padding: 0%;
}
header{
  width: auto;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  
  }

img{
width: 70px;
height: 70px;
margin-left: 5px;
}
.logo{
margin-right: 60%;
}
.jouer{
color: white;
text-transform: capitalize ;
font-size: 30px;
margin-left:-130%;
}
.corps{
  width:90%;
  height: 450px;
  background:whitesmoke;
  margin:  80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around; 
  }

  .deconnexion{
    width: auto;
    height: auto; 
  } 

.inscrire{
margin-left:40%;
margin-top: 10px;
}
form{
background: white;
width: 45%;
height: 350px;
margin: 3% auto;
box-shadow: 5px 5px 5px 5px black;
}

a{
text-decoration: none;
color: black;
text-transform: capitalize;
display: flex;
margin:10%;
}
a:hover{
width: auto;
height: 25px;
background:#cccc;
color: black;
}

.entete{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 22%;
}
.parametre{
  display: flex;
  align-items: center;
  margin: 5px;
}
.point{
  width: 70px;
  margin-left: 25px;
}
.type_question{
  margin-left: 20px;
}
textarea{
  margin-left: 20px;
  box-shadow: 2px 2px  2px  2px black;
}