*{
    margin: 0%;
    padding: 0%;
}
header{
  width: auto;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  
  }

img{
width: 70px;
height: 70px;
margin-left: 5px;
}
.logo{
margin-right: 60%;
}
.jouer{
color: white;
text-transform: capitalize ;
font-size: 30px;
margin-left:-130%;
}
.corps{
  width:80%;
  height: 450px;
  background: #cccccccc;
  margin:  80px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around; 
  }
  .liste{
  background: white;
  width: 30%;
  height: 270px;
  margin-left: 7%;
  margin-top: 5%;
  box-shadow: 5px 5px 5px 5px black;
  }
 .deconnexion{
    width: auto;
    height: auto; 
  } 

.inscrire{
margin-left:40%;
margin-top: 10px;
}
.joueurs{
background: white;
width: 50%;
height: 350px;
margin: 3% auto;
box-shadow: 5px 5px 5px 5px black;
}
input{
height: 30px;
width: 50%;
margin: 10px auto;
margin-left: 25%;
}
/* button{
height: 25px;
margin-left:40%;
background: black;
color: white;
}  */
a{
text-decoration: none;
color: black;
text-transform: capitalize;
display: flex;
margin:10%;
}
a:hover{
width: auto;
height: 25px;
background:#cccc;
color: black;
}
input:hover{
  width: auto;
  height: 25px;
  background:#cccc;
  color: black;
}
.joueurs{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

 .efface{
  width:70px ;
  background:red ;
}
.modfi{
  width:70px ;
  background: greenyellow;
} 
.entete{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 .header{
  background:white;
  color: black;
 }
 table{
  border:solid 1px ;
  background: black;
  color: white;
  height: 30px;
  width: 80%;
 }
